settings.txt
__pycache__/bitFunctions.cpython-37.pyc
__pycache__/hmi_server.cpython-37.pyc
__pycache__/Limit_Switch.cpython-37.pyc
__pycache__/Servo.cpython-37.pyc
__pycache__/Tags.cpython-37.pyc
__pycache__/tcpIPFunctions.cpython-37.pyc
__pycache__/Vision.cpython-37.pyc
__pycache__/Limit_Switch.cpython-37.pyc
__pycache__/bitFunctions.cpython-37.pyc
template.Bmp
__pycache__/bitFunctions.cpython-37.pyc
__pycache__/Limit_Switch.cpython-37.pyc
__pycache__/tags.cpython-37.pyc
programs/__pycache__/uv.cpython-37.pyc
