[Unit]
Description=slitter utility
After=multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/Desktop/auto_slitter/
ExecStart=python3 /home/pi/Desktop/auto_slitter/utility.py
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
